<main>
    <h1 class="text-center text-uppercase">Hello worlds</h1>
    <h2 class="text-end text-muted text-lowercase">Secondary</h2>
    <h3 class="text-capitalize">3 title</h3>

    <hr>

    <div class="display-1 text-muted">Hello worlds</div>
    <div class="display-5">Secondary</div>
    <div class="display-6">3 title</div>


    <hr>

    <div class="text-muted text-end">
        Додатковий <span class="display-6">текст</span>

        <hr>

        <button class="btn btn-primary">
            <span class="text-uppercase">primary</span>
        </button>

        <hr>

        <a href="https://translate.google.com/?hl=uk" class="btn btn-link" target="_blank">
            <span class="text-uppercase">Ссылка + link</span>
        </a>
    </div>

    <hr>

    <a href="https://translate.google.com/?hl=uk" class="btn btn-primary" target="_blank">
        <span class="text-uppercase">Ссылка + primary</span>
    </a>

    <p class="text-primary">My text</p>

    <hr>

    <div class="card">
        <div class="card-body">
            <batton class="btn btn-primary btn-lg">Додати</batton>
            <batton class="btn btn-outline-secondary">Редагувати</batton>
            <batton class="btn btn-outline-danger text-capitalize btn-sm">видалити</batton>
        </div>
    </div>

    <br>

    <div class="card">
        <div class="card-body">
            Full text
        </div>
    </div>

</main>