<main class="my-1 mx-3">
    <div class="card p-3">
        <h1 style="color:crimson" class="text-center text-uppercase"> Hello worlds </h1>
        <h2 class="text-end text-muted text-lowercase"> ПРАВА ОРІЄНТАЦІЯ ТЕКСТУ ТА ВСІ ЛІТЕРИ Є МАЛЕНЬКИ </h2>
        <h3 class="text-capitalize"> всі слова в речені починаються з великих літер </h3>

        <hr>
        <div class="card ps-3">
            <p class="display-1 text-primary"> Розмір шрифта та його колір </p>
            <div class="display-3 text-muted"> Hello worlds </div>
            <div class="display-5"> Secondary </div>
            <div class="display-6"> 3 title </div>
        </div>


        <hr>

        <div class="text-muted text-end">
            Додатковий <span class="display-6">текст</span>

            <hr>

            <button class="btn btn-primary">
                <span class="text-uppercase">primary</span>
            </button>

            <hr>

            <div class="card p-3">
                <div class="card-title"> Просто посилання </div>
                <a href="https://translate.google.com/?hl=uk" class="btn btn-link" target="_blank">
                    <span class="text-uppercase"> Ссылка + link </span>
                </a>
            </div>
        </div>

        <hr>

        <div class="card p-3">
            <div class="card-title"> Посилання з коліром </div>
            <a href="https://translate.google.com/?hl=uk" class="btn btn-warning m-3" target="_blank">
                <span class="text-uppercase"> Ссылка + колір </span>
            </a>
            <p class="text-primary"> My text </p>
        </div>

        <hr class="my-3">

        <div class="card p-3">
            <div class="card-title">
                <b> Кнопки різного калібру</b>
            </div>
            <div class="card-body">
                <batton class="btn btn-primary btn-lg"> Додати </batton>
                <batton class="btn btn-outline-secondary"> Редагувати </batton>
                <batton class="btn btn-outline-danger text-capitalize btn-sm"> видалити </batton>
            </div>
        </div>

        <div class="card p-3 mb-3 text-center">
            <div class="card-title">
                <b> Просто картка з текстом по середені </b>
            </div>
            <div class="card-body">
                Full text
            </div>
        </div>
    </div>

</main>