{{!-- {{#each exhibits}}
<div>
	{{#if name includeZero=true}}
	{{name}}
	{{/if}}
	{{#if artist includeZero=true}}
	{{artist}}
	{{/if}}
	{{#if description includeZero=true}}
	<q> {{description}} </q>
	{{/if}}
	{{#if audio_guide includeZero=true}}
	{{audio_guide}}
	{{/if}}
</div>
{{/each}} --}}