<nav>
    {{!-- <a href="/skills">Skills</a> "Было" --}}


    {{> link text="skills" href="/skills" line=true noLine=false}}

    {{!-- <a href="/summary">Summary</a> "Было" --}}
    {{> link text="summary" href="/summary" line=true noLine=false}}

    {{> link text="education" href="/education" line=true noLine=false}}

    {{> link text="work" href="/work" line=true noLine=false}}

    {{> link text="js" href="/js" line=true noLine=false}}

    {{> link text="car" href="/car" line=true noLine=false}}

    <div>
        {{> link text="mac" href="/mac" line=true noLine=false}}

        {{> link text="facebook" href="/facebook" line=true noLine=false}}

        {{> link text="bootstrap" href="/bootstrap" line=true noLine=false}}

        {{> link text="task21" href="/task21" line=true noLine=false}}

        {{> link text="program" href="/program" line=true noLine=true}}
    </div>

</nav>