<nav>
    {{!-- <a href="/skills">Skills</a> "Было" --}}


    {{> link text="skills" href="/skills" line=true noLine=false}}

    {{!-- <a href="/summary">Summary</a> "Было" --}}
    {{> link text="summary" href="/summary" line=true noLine=false}}

    {{> link text="education" href="/education" line=true noLine=false}}

    {{> link text="work" href="/work" line=true noLine=false}}

    {{> link text="program" href="/program" line=true noLine=true}}

</nav>