<p>
    {{!-- {{#with paragraph}}
<div>{{title}}:
    <q><em>{{text}}</em></q>
</div>
<div>
    {{#with button}}
    {{> text}}
    {{/with}}
</div>
<div>
    {{#each list_name}}
    {{> text}}
    {{/each}}
</div>
{{/with}} --}}
<q>{{text}}</q>
</p>